version: '3'
services:
  nest-api-docker:
    image: "image"
    command: "command"
    entrypoint: "entrypoint"
    environment:
      - NODE_ENV=development
    cap_add:
      - SYS_PTRACE
    cap_drop:
      - SYSLOG
    user: "user"
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/usr/app
    container_name: nest-api-docker
    expose:
      - "6000"
    ports:
      - "6000:6000"